<div id="header"><h1>Task Details</h1></div>
<div id="newsub">


	<p>Name: <%= @task.name %></p>
	<p>Description: <%= @task.description %></p>
	<p>Priority: <%= @task.priority %></p>
	<p>Due Date: <%= @task.due_date %></p>
  <p>Project: <%= @project.name %></p>
  <p>Tag: <%= @tag.name %></p>
	<p>Assigned To: <%= @user.name %> </p>

</div>

<p><%= link_to("Edit Task", edit_task_path) %></p>
<p><%= link_to("Delete Task", task_path, :method => :delete) %></p>

