<div id="header"><h1>Task Details</h1></div>
<div id="newsub">


	<p>Name: <%= @task.name %></p>
	<p>Description: <%= @task.description %></p>
	<p>Priority: <%= @task.priority %></p>
	<p>Due Date: <%= @task.due_date %></p>
  <p>Project: <%= @project.name %></p>
  <p>Tag: <%= @tag.name %></p>
  <p>Assigned To: <%= @user.name %> </p>

  
  <b><p>COMMENTS</p></b>
  
  <% @task.comments.each do |c| %>
  
    <a><%= c.message %></a>
    <a><%= link_to("Edit", edit_comment_path(c.id)) %></a>
    <a><%= link_to("Delete", comment_path(c.id), :method => :delete) %></a>
  
  <% end %>
  
  <%= form_for @comments do |c| %>

    <p>
      <%= c.label :message %></p>
    <p>
      <%= c.text_area :message %>
    </p>
    
    <%= c.hidden_field :user_id, { :value => current_user } %>
    <%= c.hidden_field :task_id, { :value => @task.id } %>
    

    <%= c.submit value: "Create Comment" %>

  <% end %>

</div>

<p><%= link_to("Edit Task", edit_task_path) %></p>
<p><%= link_to("Delete Task", task_path, :method => :delete) %></p>

