TASKS SHOW

<h1><%= @task.name %>'s Details</h1> 
	<p>Name: <%= @task.name %></p>
	<p>Description: <%= @task.description %></p>
	<p>Name: <%= @task.name %></p>
	<p>Priority: <%= @task.priority %></p>
	<p>Due Date: <%= @task.due_date %></p>

<%= link_to("Edit Task Project", edit_task_path) %>
<%= link_to("Delete Task", task_path, :method => :delete) %>

