<div id="container">
  <div id="header">
    <div id="headerguts">
    <h1>Task, Inc.</h1>
  </div>
  </div>
  <div id="sidebar">
    <div id="sidebarguts">
    <h2>Create User Account</h2>
    <p>Already an existing user?</p>
    <div id="sidebarindent">
    <p> <%= link_to("User Log In", login_path) %>
    <p><%= link_to("Return to Home", root_path) %></p>
  </div>
  </div>
  </div>
    <div id="contentbig">
      <div id="contentbigguts">
        
    <div id="contentbigguts">
      


            <%= form_for @user do |f| %>

              <p>
                <%= f.label :name %>
                <%= f.text_field :name %>
              </p>


              <p>
                <%= f.label :email %>
                <%= f.text_field :email %>
              </p>

              <p>
                <%= f.label :password %>
                <%= f.password_field :password %>
              </p>

              <p>
                <%= f.label :password_confirmation %>
                <%= f.password_field :password_confirmation %>
              </p>

              <%= f.submit value: "Create User"%>

            <% end %>
            
      </p>
    </div>
  </div>
    </div>
    <div id="clearcontentright">
    </div>
    <div id="footer">
    </div>
  
</div>







              <%= form_for @user do |f| %>

                <p>
                  <%= f.label :name %>
                  <%= f.text_field :name %>
                </p>

	
                <p>
                  <%= f.label :email %>
                  <%= f.text_field :email %>
                </p>
  
                <p>
                  <%= f.label :password %>
                  <%= f.password_field :password %>
                </p>
  
                <p>
                  <%= f.label :password_confirmation %>
                  <%= f.password_field :password_confirmation %>
                </p>
  
                <%= f.submit value: "Create User"%>

              <% end %>
                
              
              
              </div>
     
          
          </div>
        </div>
      </div>
      <div class="yui-b">
        <div id="secondary"><h2>Create User Account</h2>
        
      
              
              
              <p>Already an existing user?</p>
              <p> <%= link_to("User Log In", login_path) %> 
              <p><%= link_to 'Return to Home', root_path %></p>
      
      
        </div>

      </div>
    </div>
    <div id="ft">
      <div id="footer"></div>
    </div>
  </div>