<<<<<<< HEAD
=======
<<<<<<< HEAD
<h1>Sign Up</h1>
<div id="newsub">
<%= form_for @user do |f| %>

  <p>
    <%= f.label :name %>
    <%= f.text_field :name %>
=======
<h1>Create New Task!</h1>
>>>>>>> 93eb2a64f2eb83da525763d396567391780e5a17

<h1>Sign Up</h1>

<%= form_for @user do |f| %>

  <p>
<<<<<<< HEAD
    <%= f.label :name %>
    <%= f.text_field :name %>
=======
    <%= t.label :name %>
    <%= t.text_field :name %>
>>>>>>> 851116494c5648c791388bb56c0f37d5a5ab29d3
>>>>>>> 93eb2a64f2eb83da525763d396567391780e5a17
  </p>
	
	
	<p>
<<<<<<< HEAD
    <%= f.label :email %>
    <%= f.text_field :email %>
=======
<<<<<<< HEAD
    <%= f.label :email %>
    <%= f.text_field :email %>
  </p>
  
  <p>
    <%= f.label :password %>
    <%= f.password_field :password %>
  </p>
  
  <p>
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation %>
  </p>
  
  <%= f.submit %>

<% end %>
</div>
<div id="clearfloat">
</div>

<p><%= link_to("Cancel User Create", root_path)%><p>
=======
    <%= t.label :description %>
    <%= t.text_field :description %>
>>>>>>> 93eb2a64f2eb83da525763d396567391780e5a17
  </p>
  
  <p>
    <%= f.label :password %>
    <%= f.password_field :password %>
  </p>
  
  <p>
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation %>
  </p>
  
  <%= f.submit %>

<% end %>
>>>>>>> 851116494c5648c791388bb56c0f37d5a5ab29d3
