<div id="container">
  <div id="header">
    <div id="headerguts">
    <h1>Task, Inc.</h1>
  </div>
  </div>
  <div id="sidebar">
    <div id="sidebarguts">
    <h2>User Details</h2>
    <div id="sidebarindent">
    <p><%= link_to("Edit this User", edit_user_path) %></p>
    <p><%= link_to("Delete this User", user_path, :method => :delete) %></p>  
    <p><%= link_to("Return to Users Index", users_path) %></p>
    <p><%= link_to("Return to Home", root_path) %></p>
  </div>
  </div>
  </div>
    <div id="contentbig">
      <div id="contentbigguts">
        
    <div id="contentbigguts">
      
    	<p>Name: <%= @user.name %></p>
    	<p>E-mail: <%= @user.email %></p>
    	<p>Password: Not Shown</p>
      

    </div>
  </div>
    </div>
    <div id="clearcontentright">
    </div>
    <div id="footer">
    </div>
  
</div>