
<div id="doc" class="yui-t2">
  <div id="hd">
    <div id="header"><h1>Task, Inc. - Task Manager</h1></div>
  </div>
  <div id="bd">
    <div id="yui-main">
      <div class="yui-b">
      
          <div class="yui-u first">
            <div class="content">
              

              <p>
            	<p>Name: <%= @user.name %></p>
            	<p>E-mail: <%= @user.email %></p>
            	<p>Password: Not Shown</p>
              


              </p>
              
              
            </div>
     
          
        </div>
      </div>
    </div>
    <div class="yui-b">
      <div id="secondary"><h2>User Details</h2>
        
      
            <p><%= link_to("Edit this User", edit_user_path) %></p>

            <p><%= link_to("Delete this User", user_path, :method => :delete) %></p>  
            <p><%= link_to("Return to User Index", users_path) %></p>
            <p><%= link_to("Return to Home", root_path) %></p>
            

      
      
      </div>

    </div>
  </div>
  <div id="ft">
    <div id="footer"></div>
  </div>
</div>
