
<h1><%= @user.name %>'s Details</h1> 
	<p>Name: <%= @user.name %></p>
	<p>E-mail: <%= @user.email %></p>
	<p>Password: <%= @user.password %></p>


<%= link_to("Edit User Project", edit_user_path) %>

