<div id="header"><h1>Edit Project</h1></div>
<div id="newsub">

<%= form_for @project do |t| %>

  <p>
    <%= t.label :name %>
    <%= t.text_field :name %>
  </p>
	
  <p>
    <%= t.label :description %>
    <%= t.text_field :desc %>
  </p>
	
	<%= t.submit value: "Edit Project" %>

<% end %>
</div>
<p>
<%= link_to("Cancel Edit", tasks_path) %></p>
	
<p><%= link_to("Delete Project", project_path, :method => :delete) %></p>