<div id="header"><h1>Add a New Project</h1></div>
<div id="newsub">

<%= form_for @project do |p| %>

  <p>
    <%= p.label :name %>
    <%= p.text_field :name %>
  </p>
	<p>
    <%= p.label :desc %>
    <%= p.text_field :desc %>
  </p>
	
	<%= p.submit value: "Create"%>

<% end %>

</div>
<p>
<%= link_to("Cancel New", projects_path) %></p>