<div id="header"><h1>Project Details</h1></div>
<div id="newsub">
  
<h2><%= @project.name %></h2> 
		<p>Description: <%= @project.desc %></p>
  
  <p>Tasks:</br>


      <% @project.tasks.each do |t| %>
	
        <p><%= link_to(t.name, task_path(t.id))%></p>
	  
      <% end %>
  
</div>
  

<%= link_to("Edit Project", edit_project_path) %>
<p><%= link_to("All projects", projects_path)%></p>
<p><%= link_to("Delete Project", delete_project_path, :method => :delete) %></p>

<p><%= link_to('Home', root_path) %></p>
